.center {
  width: 100%;
  height: 100%;
  .top-row {
    margin: 0px 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-family: "Work Sans";
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 21px;
    color: #08464b;
    .icons {
      box-sizing: border-box;
      display: flex;
      flex-direction: row;
      align-items: flex-start;
      padding: 12px;
      gap: 20px;
      border: 1px solid #f2f2f2;
      border-radius: 10px;
    }
  }
  .tabs {
    display: flex;
    margin: 20px 0px;
    .tab {
      display: flex;
      padding: 0px 10px;
      margin: 0px 8px;
      align-items: center;
      justify-content: space-between;
      cursor: pointer;
      color: white;
      width: 244px;
      height: 32px;
      font-family: "Work Sans";
      font-style: normal;
      font-weight: 500;
      font-size: 14px;
      line-height: 16px;
      color: #e4e5e9;
      background: #6f8c94;
      border-radius: 4px;
    }
  }

  .workspace {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: "Work Sans";
    font-style: normal;
    h2 {
      font-weight: 600;
      font-size: 20px;
      margin: 10px;
    }
    p {
      font-weight: 400;
      font-size: 14px;
    }
  }

  .selected-activity {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
